<div class="wrapper clearfix">
	<div class="col-1 homepage_content">
		<h2>About</h2>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus et reiciendis molestiae corporis aliquam quos, quidem sit natus, <p>magnam sint, quam voluptatibus ipsum ab laudantium aut velit quibusdam cumque tenetur</p> </p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Stuff I have Writter</h2>
		<hr>
		<% @posts.each do |post|  %>
			<h3>  <%= link_to post.title, post %>  </h3>
			<p class="date"> <%= post.created_at.strftime('%A, %b %d') %> </p>
		<% end  %>
		
	</div>
	<div class="col-3 homepage_content">
		<h2>Project I have Made</h2>
		<hr>
		<% @projects.each do |project|  %>
			<h3>  <%= link_to project.title, project %>  </h3>
			<p class="date"> <%= project.created_at.strftime('%A, %b %d') %> </p>
		<% end  %>
	</div>
</div>