<h1 id="page_title">
		Stuff I have Wriiter
</h1>

<div id="post_wrapper" class="sninny_wrapper">
	<% @posts.each do |post| %>
	  <div class="post">
		<div class="date">
			<%= post.created_at.strftime('%A, %B, %d') %> 
		</div>
		<h2> 
			<a href="#"><%= link_to post.title,  post_path(post) %></a> 
		</h2>
		<hr>
	</div>
	<% end %>

</div>
	

		
<%= will_paginate @posts %>
